.u-section-1 .u-sheet-1 {
  min-height: 825px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 725px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-1 {
  width: 440px;
  height: 440px;
  background-image: url("images/IMG_9858.jpg");
  background-position: 50% 50%;
  margin: 97px auto 0 -12px;
}

.u-section-1 .u-image-2 {
  width: 293px;
  height: 293px;
  object-position: 50% 100%;
  background-image: url("images/IMG_9895.jpg");
  background-position: 0% 0%;
  margin: -157px 30px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 727px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  min-height: 99px;
  margin-top: 54px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 6px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px 8px 0;
}

.u-section-1 .u-text-3 {
  margin: 23px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 598px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 599px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 605px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 158px;
    height: 158px;
    margin-top: -77px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-1 .u-image-1 {
    width: 393px;
    height: 393px;
  }

  .u-section-1 .u-image-2 {
    width: 247px;
    height: 247px;
    margin-top: -139px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-1 .u-image-2 {
    width: 170px;
    height: 170px;
    margin-top: -66px;
  }

  .u-section-1 .u-group-1 {
    min-height: 68px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 49px;
  }
}
